name: CI

on:
  push:
    branches: ["*"]
  pull_request:
    branches: ["*"]

jobs:
  build:
    runs-on: macos-15
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Build
        run: ./script/cibuild

      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          name: Chai
          path: deploy/Chai.zip
